body {
  background: #c3c3c3;
}
.login-section {
  margin-top: 15%;
}
.logo-box,
.login-box {
  margin: 0 auto;
  width: 35%;
}
.logo-box {
  text-align: center;
  margin-bottom: 20px;
}
.logo-box img {
  width: 50%;
}
.login-box {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0px 0px 3px #ffffff inset;
  border: 1px solid #ffffff;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
}
header {
  color: white;
  background-color: rgba(94, 88, 118, 0.2);
  /*Primary Color*/

  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff222222', GradientType=0);
  -webkit-box-shadow: 0 0px 5px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 0px 5px rgba(255, 255, 255, 0.75);
  box-shadow: 0 0px 5px rgba(255, 255, 255, 0.75);
  text-align: center;
  padding: 7px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.menu-topbar {
  background: rgba(94, 88, 118, 0.2);
  /*Primary Color*/

  height: auto;
  padding: 0px;
  color: #ffffff;
  box-shadow: 0px 2px 3px #777;
  margin-bottom: 15px;
  border-bottom: 1px solid #ffffff;
}
.menu-logo img {
  margin: 5px;
  height: 40px;
  width: 40px;
}
.menu-logo {
  width: auto;
  height: auto;
}
.account-box {
  margin: 5px;
}
.account-box .btn {
  margin-top: 5px;
}
.account-box span {
  top: 5px;
  right: 10px;
  position: relative;
}
