html {
  height: 100%;
}
body {
  background: -moz-linear-gradient(top, rgba(94, 88, 118, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(94, 88, 118, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(94, 88, 118, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(94, 88, 118, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(94, 88, 118, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(94, 88, 118, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#a65e5876', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */

}
.btn-1st {
  border: 1px solid #888888;
}
.btn-1st:hover,
.btn-1st:focus,
.btn-1st:active,
.btn-1st.active,
.btn-1st.disabled,
.btn-1st[disabled] {
  /*color: #ffffff;*/

  /*background: rgba(94,88,118,0.5); /*Primary Color*/

}
.btn-1st:active,
.btn-1st.active {
  background-color: #003399 \9;
}
.text-white {
  color: white;
}
input[type="text"],
input[type="password"] {
  background: #dedede !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: rgba(94, 88, 118, 0.8);
  outline: 0;
  outline: thin dotted 9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(94, 88, 118, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(94, 88, 118, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(94, 88, 118, 0.6);
}
.login-section {
  margin-top: 15%;
}
.logo-box,
.login-box {
  margin: 0 auto;
  width: 35%;
}
.logo-box {
  text-align: center;
  margin-bottom: 20px;
}
.logo-box img {
  width: 50%;
}
.login-box {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0px 0px 7px #ffffff inset;
  border: 1px solid #ffffff;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(94, 88, 118, 0.23) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(94, 88, 118, 0.23)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(94, 88, 118, 0.23) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(94, 88, 118, 0.23) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(94, 88, 118, 0.23) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(94, 88, 118, 0.23) 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00000000', endColorstr='#3b5e5876', GradientType=0);
  /* IE6-9 */

}
.login-box label {
  color: white;
}
header {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  /*Primary Color*/

  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff222222', GradientType=0);
  -webkit-box-shadow: 0 0px 5px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 0px 5px rgba(255, 255, 255, 0.75);
  box-shadow: 0 0px 5px rgba(255, 255, 255, 0.75);
  text-align: center;
  padding: 7px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.menu-topbar {
  background-color: rgba(0, 0, 0, 0.15);
  height: auto;
  padding: 0px;
  color: #ffffff;
  box-shadow: 0px 2px 3px #777;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.menu-logo img {
  margin: 5px;
  height: 40px;
  width: 40px;
}
.menu-logo {
  width: auto;
  height: auto;
}
.account-box {
  margin: 5px;
}
.account-box .btn {
  margin-top: 5px;
}
.account-box span {
  top: 5px;
  right: 10px;
  position: relative;
}
